@import "https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.css";
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme {
  --color-primary: #0ea5e9;
  --color-primary-inverse: #ffffff;
  --color-secondary: #ffffff;
  --color-secondary-border: #0ea5e9;

  --color-text-strong-inverse: #ffffff;
  --color-text-normal-inverse: #fbfcfd;
  --color-text-assistive: #a6a6a6;
  --color-line-normal-inverse: #364050;

  --font-pretendard: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --weight-semibold: 600;
  --weight-medium: 500;

  --leading-14: 72px;
  --leading-7: 28px;
  --leading-6: 24px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee 40s linear infinite reverse;
}